body{
    height:10cm;
    background:linear-gradient(32deg,red,teal,orange,skyblue);
}
body{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-evenly;
    flex-wrap:wrap;

}